.at-tabs__header{
    margin-bottom: 1px;
}

.at-tabs__item {
    color:#cdcdcd;
}
.at-tabs__item--active {
    color: black;
}
.at-tabs__item-underline {
    background-color: black;

}

.tabs-items{
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height:500px;
    
}
.at-grid__flex .content-inner__img {
    width: 240rpx;
    height: 240rpx;
}
.at-tabs-pane {
    margin-top: 20px;
}