.at-tabs__header{
    margin-bottom: 1px;
    width: 250px;
}

.at-tabs__item {
    color:#cdcdcd;
}
.at-tabs__item--active {
    color: black;
}
.at-tabs__item-underline {
    background-color: black;

}

.alist{
    .at-list__item-container {
        flex-direction:row-reverse;
    }
}
/* 社区列表*/

.com-list{
    .at-list__item-container{
        flex-wrap: wrap;
    }
    .item-content{
        flex:none;
        width: 440px;
    }
    .at-list__item-extra{
        max-width: 750px;
        text-align:left;
        .item-extra__info{
            color: black;
            padding: 10px 20px 0px;
            white-space:normal;
            word-break:break-all;
        }
    }
}
